body {
  color: white;
}

.homeContainer {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: #0D0907; */
  background: #0c0908;
  /* background: rgb(77, 81, 125);
  background: radial-gradient(circle, rgba(77, 81, 125, 1) 33%, rgba(52, 49, 107, 1) 61%, rgba(46, 61, 80, 1) 88%, rgba(53, 65, 112, 1) 100%); */
}

.buttonsContainer {
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.buttonsContainer button, input {
  padding: 5px 25px;
  margin: 25px;
}

.uploadImageContainer {
  min-height: 350px;
  display: grid;
  place-items: center;
}

.uploadedImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.uploadedImages button {
  width: 200px;
}

.ChooseFile{
  background: none;
  font-size: 1.2em;
  color: #ffa260;
  border: 2px solid;
  padding: 0.5em 1.5em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}
.ChooseFile:hover{
  border-color: #f1ff5c;
  color: aliceblue;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}


input[type=file]{
  display: none;
}

.uploadbtn{
  background: none;
  font-size: 1.2em;
  color: #ffa260;
  border: 2px solid;
  padding: 0.5em 1.5em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}
.uploadbtn:hover{
  border-color: #f1ff5c;
  color: aliceblue;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}


button.pid {
  --content: 'Detect Plastic!';
  position:relative;
  padding: 10px 20px;  
  border: none;
  cursor: pointer;
  
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;  
  color: var(--text-color);
  
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px; 
  z-index: 0;  
  overflow: hidden;   
}

button.pid:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after, button.pid::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 60px 40px 40px;
  pointer-events:none;
}

button.pid::after{
  font-weight: 200;
  top: -30px;
  left: -20px;
} 

.right, .left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.right {
  left: 66%;
}
.left {
  right: 66%;
}
.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  
  background-color: var(--bg-color);
  color:transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

button.pid:hover .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

button.pid .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}

button.pid .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg)
}

/* bubbles */
button.pid::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}